.produkt-bereich {
    text-align: center;
    margin-bottom: 40px;
}

.produkt-reihe {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.produkt {
    border: 1px solid #ddd;
    padding: 10px;
    width: 150px;
}

.produkt img {
    width: 100%;
    height: auto;
}

.preis {
    margin-top: 6px;
    font-weight: bold;
}

.size-picker {
    width: 100%;
    padding: 8px;
    margin: 0 auto;
    font-size: 14.8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
    display: block;
    text-align: center;
} 

